@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 220 44% 100%;
		--foreground: 220 67% 0%;
		--muted: 220 39% 92%;
		--muted-foreground: 220 13% 27%;
		--popover: 220 44% 100%;
		--popover-foreground: 220 67% 0%;
		--card: 0 0% 99%;
		--card-foreground: 0 0% 0%;
		--border: 220 2% 93%;
		--input: 220 2% 93%;
		--primary: 220 66% 58%;
		--primary-foreground: 0 0% 100%;
		--secondary: 220 7% 91%;
		--secondary-foreground: 220 7% 31%;
		--accent: 220 13% 82%;
		--accent-foreground: 220 13% 22%;
		--destructive: 0 86% 45%;
		--destructive-foreground: 0 0% 100%;
		--ring: 220 66% 58%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 220 43% 4%;
		--foreground: 220 16% 99%;
		--muted: 220 39% 8%;
		--muted-foreground: 220 13% 73%;
		--popover: 220 43% 4%;
		--popover-foreground: 220 16% 99%;
		--card: 220 43% 5%;
		--card-foreground: 0 0% 100%;
		--border: 220 2% 13%;
		--input: 220 2% 13%;
		--primary: 220 66% 58%;
		--primary-foreground: 0 0% 100%;
		--secondary: 220 7% 9%;
		--secondary-foreground: 220 7% 69%;
		--accent: 220 13% 16%;
		--accent-foreground: 220 13% 76%;
		--destructive: 0 86% 49%;
		--destructive-foreground: 0 0% 100%;
		--ring: 220 66% 58%;
	}
}

@layer base {
	:root {
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
